<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/glightbox.min.css}">
    <link rel="stylesheet" th:href="@{/css/remixicon.css}">
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
</head>
<body class="m-5">
<div class="container">
    <h1>Edit Mahasiswa</h1>
    <form th:action="@{/edit/{id}(id = ${mahasiswa.id})}" method="post" th:object="${mahasiswa}" class="form-group container-fluid">
        <div class="my-2">
            <label for="NIM">NIM</label>
            <input type="text" pattern="[0-9]+" placeholder="NIM" class="form-control" name="NIM" id="NIM" minlength="9" maxlength="9" th:field="${mahasiswa.NIM}" required>
        </div>
        <div class="my-2">
            <label for="nama">Nama</label>
            <input type="text" id="nama" placeholder="Nama" name="nama" maxlength="100" pattern="[A-Za-z\s]+" class="form-control" th:field="${mahasiswa.nama}" required>
        </div>
        <div class="my-2">
            <label for="jurusan">Jurusan</label>
            <select id="jurusan" name="jurusan" class="form-control" required>
                <option selected disabled>Pilih Jurusan</option>
                <option th:each="jurus : ${jurusan}" th:value="${jurus}" th:text="${jurus}"></option>
            </select>
        </div>
        <div class="my-2">
            <label for="ttl">Tanggal Lahir</label>
            <input type="date" name="TTL" class="form-control" th:field="${mahasiswa.TTL}" id="ttl">
            <input type="hidden" name="createdAt">
        </div>
        <!--        <input type="hidden" th:value="${mahasiswa.updatedAt}">-->
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a th:href="@{/}" class="btn btn-danger">Kembali</a>
        </div>
    </form>
</div>
<script src="js/bootstrap.js"></script>
<script src="js/bootsrap.bundle.js"></script>
</body>
</html>