<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/glightbox.min.css}">
    <link rel="stylesheet" th:href="@{/css/remixicon.css}">
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
</head>
<body class="m-5">
<div class="container">
    <main class="ms-sm-auto" data-aos="fade-up">
        <div id="error" th:if="${errorMessage ne null}" th:text="${errorMessage}"></div>
        <section id="faq" class="faq hero">
            <div class="section-title text-center">
                <h2>Web CRUD Mahasiswa</h2>
            </div>
            <div class="d-flex justify-content-between my-3">
                <form action="/search" method="get" class="form-group d-flex">
                    <input type="text" name="query" id="query" placeholder="Cari NIM/Nama..." class="form-control w-100">
                    <button type="submit" class="btn btn-primary">Cari</button>
                </form>
                <button onclick="assign()" class="btn btn-success" style="height: 2.5rem">+ Tambah Mahasiswa</button>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <tr>
                        <th>No</th>
                        <th>NIM</th>
                        <th>Nama</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="mahasiswa: ${mahasiswas}">
                        <td th:text="${mahasiswa.id}"></td>
                        <td th:text="${mahasiswa.NIM}"></td>
                        <td th:text="${mahasiswa.nama}"></td>
                        <td>
                            <a th:href="@{/view/{NIM}(NIM = ${mahasiswa.NIM})}" class="btn btn-primary">View</a>
                            <a th:href="@{/edit/{NIM}(NIM = ${mahasiswa.NIM})}" class="btn btn-success">Edit</a>
                            <a th:href="@{/delete/{NIM}(NIM = ${mahasiswa.NIM})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
</div>
<script src="js/bootstrap.js"></script>
<script>
    function assign () {
        window.location.assign('http://localhost:8080/create')
    }
</script>
<script src="js/bootsrap.bundle.js"></script>
</body>
</html>